body {
	margin-top: 20px;
}
.wrapping {
	width: 700px;
	margin: 0 auto;
	text-align: center;
}
.gamewrapping {
	position:relative;
	width: 700px;
	height: 500px;
	padding: 0;
	background-color: rgb(153,217,234);
	border-style: solid;
	border-color: black;
	border-width: 1px;
}
#startbox {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 998;
}
#starttext{
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	font-size: 36px;
	z-index: 999;
}
#choicerow {
	position: absolute;
	top: 35%;
}
#choice1 {
	position: absolute;
	left: 10px;
	z-index: 999;
}

#choice2 {
	position: absolute;
	left: 175px;
	z-index: 999;
}

#choice3 {
	position: absolute;
	left: 350px;
	z-index: 999;
}

#choice4 {
	position: absolute;
	left: 525px;
	z-index: 999;
}
#yourcharacterrow{
	position: absolute;
	width: 100%;
	height: 150px;
	text-align: left;
	margin: 10px;
}
#yourcharacter{
	left: 0px;
	display: inline-block;
}
#enemiesavailable{
	position: absolute;
	width: 100%;
	height: 150px;
	text-align: left;
	top:150px;
	margin:10px;
}
#enemy1{
	display: inline-block;
}
#enemy2{
	display: inline-block;

}
#enemy3{
	display: inline-block;
}
#fightsection{
	position: absolute;
	width: 100%;
	height: 150px;
	text-align: left;
	top: 300px;
	margin: 10px;
}
#fightingtext{
	position: absolute;
	text-align: left;
	bottom: 50px;
	left:200px;
}