body {
	margin-top: 20px;
	font-size: 14px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
button {
	padding: 5px;
}
h6 {
	font-weight: bold;
}
.wrapping {
	width: 700px;
	margin: 0 auto;
	text-align: center;
}
.gamewrapping {
	position:relative;
	width: 700px;
	height: 500px;
	background-color: rgb(153,217,234);
	border-style: solid;
	border-color: black;
	border-width: 1px;
}
.heading {
	font-size: 16px;
	font-weight: bold;
}
#startbox {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 998;
}
#starttitle{
	position: absolute;
	top: 80px;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 44px;
	z-index:999;
}
#starttext{
	position: absolute;
	top: 300px;
	width: 100%;
	text-align: center;
	font-size: 36px;
	z-index: 999;
}
#choicerow {
	position: absolute;
	top: 35%;
}
#choice1 {
	position: absolute;
	left: 20px;
	z-index: 999;
}

#choice2 {
	position: absolute;
	left: 190px;
	z-index: 999;
}

#choice3 {
	position: absolute;
	left: 355px;
	z-index: 999;
}

#choice4 {
	position: absolute;
	left: 520px;
	z-index: 999;
}

#game{
	padding: 25px 15px 15px 15px;
}
#yourcharacterrow{
	position: absolute;
	width: 100%;
	height: 150px;
	text-align: left;
}
#yourcharacter{
	left: 0px;
	display: inline-block;
}
#enemiesavailable{
	position: absolute;
	width: 100%;
	height: 150px;
	text-align: left;
	top:175px;
}
#enemy1{
	display: inline-block;
	margin:-right: 20px;
}
#enemy2{
	display: inline-block;
	margin-left: 20px;
	margin:-right: 20px;
}
#enemy3{
	display: inline-block;
	margin-left: 20px;
	margin:-right: 20px;
}
#fightsection{
	position: absolute;
	width: 100%;
	height: 150px;
	text-align: left;
	top: 340px;
}
#attacktext{
	position: absolute;
	width: 400px;
	text-align: left;
	top: 0px;
	left:200px;
	line-height: 20px;
}
#countertext{
	position: absolute;
	width: 400px;
	text-align: left;
	top: 75px;
	left: 200px;
	line-height: 20px;
}
#restartsection{
	position: absolute;
	bottom: 25px;
	right: 20px;
}